.main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background: url('../../../img/backgrounds/main-background.gif') center;

    @media (min-width: 2000px) {
        padding: 13% 0 13% 0;
    }
}

.main-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35%;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-page__title {
    margin: 6%;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.952);
    text-transform: uppercase;

    @media (min-width: 2000px) {
        margin: 3%;
    }
}

.main-page__button {
    
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
    font-family: 'Nunito';
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.5s;
} 
  
.main-page__button:hover { 
    background: rgba(255, 255, 255, 0.6);
}

.main-page__button:active { 
    background: rgba(255, 255, 255, 1);
}

.main-page__link {
    display: flex;
    justify-content: center;
    width: 30%;
    color: rgba(59, 59, 59, 1);
    text-decoration: none;
}