.main__addresses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 19px;

    @media (min-width: 2000px) {
        padding: 15% 0 15% 0;
        font-size: larger;
    }
}

.main__addresses-header {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.main__addresses-title {
    font-weight: 600;
    padding: 15px;
}

.main__addresses-text {
    padding: 3px;
}

.main__addresses-map {
    margin-top: 30px;

    @media (min-width: 2000px) {
        padding: 3% 0 0 0;
    }
}