// .goods {
//     display: flex;
//     flex-direction: row;
//     padding: 200px;
// }

.goods-page__title {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito';
    padding-top: 150px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-align: center;
}

.goods-page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Nunito';
}

.goods-page__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0.7%;
    padding: 15px;
    border: 1px solid rgba(59, 59, 59, 0.9);
}

.goods-page__item-picture {
    width: 85%;
}

.goods-page__button {
    width: 150px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Nunito';
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: 0.5s;
}

.goods-page__button:hover { 
    background: rgba(255, 255, 255, 0.6);
}

.goods-page__button:active {
    background: rgba(255, 255, 255, 0.445);
}

.item-container {
    margin: 8px;
}

.goods-page__item-button {
    width: 85%;
    margin-top: 0;
    font-family: 'Nunito';
    outline: none;
    border: none;
}

.goods-page__item-button:hover { 
    background: rgba(173, 173, 173, 0.5);
}

.goods-page__item-button:active {
    background: rgba(173, 173, 173, 0.1);
}