.goods-page__title {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito';
    padding-top: 150px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-align: center;

    @media (min-width: 2000px) {
        padding: 10% 0 0 0;
    }
}

.goods-page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Nunito';

    @media (min-width: 2000px) {
        padding: 7.5% 0 13% 0;
    }
}

.goods-page__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 1% 1% 3% 1%;
    padding: 15px;
    border: 1px solid rgba(59, 59, 59, 0.9);
}

.goods-page__item-picture {
    width: 85%;
}

.goods-page__button {
    width: 150px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Nunito';
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: 0.5s;
}

.goods-page__button:hover { 
    background: rgba(255, 255, 255, 0.6);
}

.goods-page__button:active {
    background: rgba(255, 255, 255, 0.445);
}

.item-container {
    margin: 8px;
}

.goods-page__item-button {
    width: 85%;
    margin-top: 0;
    font-family: 'Nunito';
    outline: none;
    border: none;
}

.goods-page__item-button:hover { 
    background: rgba(173, 173, 173, 0.5);
}

.goods-page__item-button:active {
    background: rgba(173, 173, 173, 0.1);
}

.goods-page__link {
    text-align: center;
    width: 100%;
}

// Current Page Styles

.goods-page__current-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @media (min-width: 300px) and (max-width: 700px){
        flex-wrap: wrap;
    }
}

.goods-page__current-item-image{
    width: 100%;
}

.goods-page__current-item-image-container{
    width: 500px;
    margin: 0 50px 50px 50px;
}

.goods-page__current-item-text-container {
    width: 600px;
    font-size: 20px;
    text-align: left;

    @media (min-width: 300px) and (max-width: 700px){
        text-align: center;
    }
}

.goods-page__current-item-container {
    margin: 50px 0 30px 0;
}

.goods-page__current-item-count-container {
    display: flex;
    flex-direction: row;

    @media (min-width: 300px) and (max-width: 700px){
        justify-content: center;
    }
}

.goods-page__current-item-btn-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 300px) and (max-width: 700px){
        justify-content: center;
        align-items: center;
    }
}

.goods-page__current-item-counter {
    padding: 5px;
    text-align: center;
}

.goods-page__current-item-btn {
    width: 40px;
    height: 30px;
    border: none;
}

.goods-page__current-desc{
    width: 80%;
    text-align: justify;

    @media (min-width: 300px) and (max-width: 700px){
        padding-left: 10%;
    }
}